.mobile-dropdown-component {
	.icon {
		display: flex;
		justify-content: flex-end;

		i {
			font-size: 2em;
		}
	}

	.mobile-links {
		ul {
			list-style: none;
			padding-left: 0;
			width: 100%;

			li {
				border-bottom: 1px solid $teal;
				padding: 20px;

				&.no-border {
					border-bottom: none !important;
				}
			}
		}
	}
}
