nav {
	background-color: white;

	.fa-bars {
		color: $textColor;
	}

	.navbar-nav a {
		font-family: $primaryFont;

		&.active {
			color: $teal;
			font-size: 1.25em;

			&:before {
				content: '-';
			}

			&:after {
				content: '-';
			}
		}
	}
}
