.dev-wrapper {
	.boxes {
		.content-box {
			.box {
				width: 250px;
				height: 250px;
				background-color: #ccc;
				transition: border-radius 1s;

				&:hover {
					border-radius: 100%;
				}
			}
		}
	}
}
