.dev-wrapper {
	.boxes {
		flex-wrap: wrap;

		.content-box {
			margin: 1rem;

			.box {
				width: 250px;
				height: 250px;
				background-color: #ccc;
				transition: border-radius 1s;

				&:hover {
					border-radius: 100%;
				}

				img {
					max-width: 200px;
					max-height: 200px;
				}
			}
		}
	}
}
